<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="JP White">

        <link rel="icon" href="img/favicon.ico">
        <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="img/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <title>Mermaid Lite Editor</title>

        <!-- Bootstrap CSS -->
        <link href="css/vendor/bootstrap/5.1.3/bootstrap.min.css" rel="stylesheet">

        <!-- Vendor -->
        <link href="css/all.min.css" rel="stylesheet">
        <link href="css/vendor/mermaid/mermaid.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body ng-app="MermaidLiteApp" ng-controller="MainCtrl">
        <!-- Top menu -->
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#">
                  <img src="img/sirene.png" alt="logo" style="width: 50px; margin:-5px 0px 0px 10px;"/>
                  &nbsp;Mermaid Lite Editor
                </a>
            </nav>
        </header>

        <!-- Begin page content -->
        <main role="main" class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-code"></i>
                            &nbsp;Editor
                        </div>
                        <div class="card-body">
                            <form method="post" action="./">
                                <div class="form-group">
                                    <label for="exampleSelect" class="form-label">Load Example:</label>
                                    <select id="exampleSelect" class="form-select" ng-model="exampleSelect" aria-label="Example diagram">
                                        <optgroup label="Software Design">
                                            <option value="classDiagram">Class Diagram</option>
                                            <option value="erDiagram">ER Diagram</option>
                                            <option value="stateDiagram">State Diagram</option>
                                            <option value="sequence">Sequence Diagram</option>
                                            <option value="gitGraph">Git Graph</option>
                                        </optgroup>
                                        <optgroup label="Flow charts">
                                            <option value="fc-t2b">Top to bottom</option>
                                            <option value="fc-b2t">Bottom to top</option>
                                            <option value="fc-l2r">Left to right</option>
                                            <option value="fc-r2l">Right to left</option>
                                        </optgroup>
                                        <optgroup label="Other">
                                            <option value="gantt">Gantt chart</option>
                                            <option value="pie">Pie Chart</option>
                                            <option value="journey">User Journey</option>
                                        </optgroup>
                                    </select>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label for="diagramCode" class="form-label">Code:</label>
                                    <textarea id="diagramCode" class="form-control" style="font-family:'Consolas',fixed-width; height:300px" required ng-model="mermaidsyntax"
                                        ng-change="checkUpdate()"></textarea>
                                </div>
                            </form>
                            <div ng-show="showerror">
                                <div class="alert alert-danger" role="alert">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> &nbsp; Invalid syntax
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fas fa-info-circle"></i>
                                    &nbsp;About Mermaid Lite
                                </div>
                                <div class="card-body">
                                    <p>This app uses the
                                        <a href="http://mermaid-js.github.io/mermaid/">mermaid</a> library to generate diagrams. Syntax for sequence diagrams can be found
                                        <a href="http://mermaid-js.github.io/mermaid/">here.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-project-diagram"></i>
                            &nbsp;Diagram
                        </div>
                        <div class="card-body">
                            <span id="mermaidholder"></span>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-outline-secondary" ng-href="{%viewlink%}" target="_blank">
                                    <i class="fas fa-share" aria-hidden="true"></i>&nbsp; Sharable Link
                                </a>
                                <a class="btn btn-outline-secondary" ng-href="{%svglink%}" download="diagram.svg">
                                    <i class="fas fa-bezier-curve" aria-hidden="true"></i>&nbsp; Save as SVG
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Core JavaScript -->
        <script src="js/vendor/jquery/jquery-3.6.0.min.js"></script>
        <script src="js/vendor/bootstrap/5.1.3/bootstrap.bundle.min.js"></script>
        <script src="js/vendor/mermaid/mermaid.min.js"></script>
        <script src="js/vendor/angular/1.8.2/angular.min.js"></script>
        <script src="js/vendor/angular/1.8.2/angular-sanitize.min.js"></script>
        <script src="js/vendor/angular/angular-utf8-base64.min.js"></script>

        <!-- Angular App -->
        <script src="/js/app.js"></script>
        <script src="/js/controllers/main.js"></script>

    </body>
</html>
