<div class="row">
    <div class="col-lg-12">
        <h1>Welcome to {{title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <form method="post" action="./">
            <div class="form-group">
                <label for="diagramCode">Diagram Code:</label>
                <textarea 
                    id="diagramCode" 
                    class="form-control" 
                    style="font-family:'Consolas',fixed-width; height:300px"
                    required ng-model="mermaidsyntax" 
                    ng-change="checkUpdate()"
                ></textarea>
            </div>
        </form>
        <div ng-show="showerror">
            <div class="alert alert-danger" role="alert">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i> &nbsp; Invalid syntax
            </div>
        </div>
        <div class="well">
            <p>This app uses the <a href="http://knsv.github.io/mermaid/index.html">mermaid</a> library to generate graphs and sequence diagrams. Syntax for sequence diagrams can be found <a href="http://knsv.github.io/mermaid/#sequence-diagrams">here.</a></p>
            <br>
            <label>Sample sequence syntax:</label>
            <pre>{%exampleCode%}</pre>
        </div>
    </div>
    <div class="col-lg-9">
        <br>
        <div class="panel panel-default" ng-show="showform">
            <div class="panel-heading">
                <h3 class="panel-title">Generated diagram</h3>
            </div>
            <div class="panel-body">
                <span id="mermaidholder"></span>
            </div>
            <div class="panel-footer">
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-default" ng-href="{%viewlink%}">
                        <i class="fa fa-share-alt" aria-hidden="true"></i> Share
                    </a>
                    <a class="btn btn-default" ng-href="{%editlink%}">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                    </a>
                    <a class="btn btn-default" ng-href="{%svglink%}" download="diagram.svg">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>